.map-container {
  -webkit-flex: 5;
  flex: 5;
}

.leaflet-container {
  height: 100%;
  width: 100%;
}

.marker-icon{
  background: black;
  color: white;
  padding: 4px 4px 8px 9px;
  font-weight: 800;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}