.sidebar {
  background-color: #282c34;
  -webkit-flex: 2;
  flex: 2;
  color: white;
  padding: 30px;
  position: relative;
}

.waypoints-container {
  list-style: none;
  margin:0;
  padding:0
}

.placeholder {
  background: #4CAF50;
  height: 33px;
}

.placeholder:before {
  color: #4CAF50;
}

.waypoint-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

.waypoint-container:hover{
  cursor:move;
}

.menu-icon {
  margin-right: 10px;
  pointer-events: none;
}

/*.menu-icon:hover{*/
  /*cursor: move;*/
  /*opacity: 0.8;*/
/*}*/

.waypoint-content {
  flex-grow: 4;
}

.waypoint-content .coords{
  font-size: 0.8em;
  font-style: italic;
}

.delete-icon {

}
.delete-icon:hover{
  cursor:pointer;
  opacity: 0.8;
}

.button-container{
  position: absolute;
  bottom: 37px;
  width: 100%;
  text-align: center;
}

.button-container button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  outline: 0;
}

.button-container button:hover{
  background-color: #469048;
}

.button-container button:active{
  background-color: #438543;
}